.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.update-modal {
    width: 500px;
    border-radius: 15px;
    background: rgba(106, 118, 125, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    color: rgb(250, 247, 237);
}

.update-modal > input, select {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: black;
    padding-left: 0.5em;
}

.update-modal > * {
    margin-top: 10px;
}

.update-modal > button {
    width: 75px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
}

.update-modal > button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}