.mainHeader {
    width: fit-content;
    padding: 0 5%;
    margin: auto;
    height: 75px;
    background: rgba(106, 118, 125, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(250, 247, 237);
}