.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3em;
}

.search-bar > * {
    color: rgb(250, 247, 237);
}

.search-bar > input {
    background-color: transparent;
    border-radius: 5px;
    padding-left: 0.5em;
    font-size: 16px;
    height: 30px;
    width: 200px;
    border: 2px solid white;
}

.search-bar > input::placeholder {
    font-size: 14px;
    color: rgb(250, 247, 237);
}

.search-bar > input:focus::placeholder {
    color: transparent;
}

.search-icon {
    position: absolute;
    right: 3.5em;
}