.homePage {
    width: 90%;
    margin: 2em auto;
}

.photosContainer {
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    grid-gap: 1em;
    margin: 1em auto;
}

.photoContainer {
    text-align: center;
    color: rgb(250, 247, 237);
}

.photoContainer > img {
    width: 350px;
    height: 300px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 15px;

}

.city-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-nav > * {
    margin: 0 5px;
}
