* {
    color: rgb(250, 247, 237);
}

.mainHeader {
    width: fit-content;
    padding: 0 5%;
    margin: auto;
    height: 75px;
    background: rgba(106, 118, 125, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.photosContainer {
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    grid-gap: 1em;
    margin-top: 1em
}

.photoContainer {
    text-align: center;
}

.photoContainer > img {
    width: 400px;
    height: 300px;
    border-radius: 30px;
}

.city-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-nav > * {
    margin: 0 5px;
}

@media screen and (max-width: 1800px) {
    .photoContainer > img {
        width: 300px;
        height: 200px;
    }
}