.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    margin-top: 2em;
}

.pager > * {
    margin: 5px;
    font-size: 20px;
}

.pageInput {
    width: 45px;
    height: 30px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.pageInput::-webkit-outer-spin-button,
.pageInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.pageInput[type=number] {
    -moz-appearance: textfield;
}

.disabled {
    opacity: 0.7;
    cursor: default;
}